* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%; /* Define a altura do corpo como 100% da janela de exibição */
  }


  .container {
    max-width: 1366px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    position: relative;
  }
  
  .menu {
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    
  }
  
  .centralLogoTitulo {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .Logo, .texto-logo {
    color: red;
    margin-left: 10px;
  }
  
  .pesquisa {
    display: flex;
    color: #757575;
    flex: 2;
    justify-content: flex-end;
    align-items: center; /* Alinha verticalmente os elementos filhos */
    margin-right: 10px;
  }
  
  .pesquisa:hover {
    color: red;
  }
  
  #Menu-banner{
    background-image: url(../imagens/london.jpg);
    width: 100%;
    height: calc(100vh - 54px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.img-principal{
  width: 900px;
  height: 260px;
  display: flex;
  flex-direction: column;
}
  .menu-imagem{
    color: red;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .op1,.op2,.op3{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
  }

.espaco-procura{
  flex: 1;
  background-color: white;
}