* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%; /* Define a altura do corpo como 100% da janela de exibição */
  }


  .custom-container {
    padding: 0 !important;
    margin: 0 auto !important;
  }
  
  .menu {
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    
  }
  
  .centralLogoTitulo {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .Logo, .texto-logo {
    color: red;
    margin-left: 10px;
  }
  
  .pesquisa {
    display: flex;
    color: #757575;
    flex: 2;
    justify-content: flex-end;
    align-items: center; /* Alinha verticalmente os elementos filhos */
    margin-right: 10px;
  }
  
  .pesquisa:hover {
    color: red;
  }

  .customNav{
    height: 54px;
  }

  .custom-banner {
    height: calc(100vh - 54px);
  }
  


.form-pesquisa{
  max-width: 900px;
  height: 260px;
  position: absolute;
  background-color: white;
}

.centralize-all {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rd-color{
  color: red;
}

  /*Inicio do CSS DO BootStrap*/
.custom-button {
    width: 100%;
    height: 100%;
  }

  .navbar{
    background-color: white;
  }

  /*Inicio das mudanças importantes no Bootstrap*/

  .navbar-toggler{
    background-color: black !important;
  }
  .navbar-brand{
   font-size: 25px;
    color: black !important;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: red !important;
    color: white !important; /* adicione essa linha para tornar o texto branco */
  }
  .nav-link{
    color: white !important;
  }
  /*Fim das mudanças importantes no Bootstrap*/

  /*Inicio do CSS DO BootStrap*/

@media only screen and (max-width: 576px) {
  #banner-principal {
    display: none;
  }

  .centralize-all {
    position: relative;
    left: 0;
    transform: translate(0, 0);
  }
}
